.day-item{
   padding:1rem;
   margin: 1rem .2rem;
   border: .2rem solid  #dddddd;
  // cursor: pointer;
   font-size: 1.8rem;
  text-align:center;
  background-color: transparent;
  color:darken(#dddddd,30%);
}
.red{
  color:red;
  background:white;
}
.blue{
  color: #080a89;
  background:white;
  font-weight: 600;
  border: .2rem solid #080a89;
}
.green{
  color:#108708;
  border: .2rem solid #108708;
  font-weight: 600;

}
.yellow{
  color: yellow;
  background:white;
}
.pink{
  color: pink;
  background: white;
}
/////////////////////////////
.flex-week{
  display:flex;
  justify-content: space-evenly;

}
//////////////////////
.day-item__header{
  padding:1rem;
  margin: 1rem .2rem;
  border-bottom: .1rem solid black;
 // cursor: pointer;
  font-size: 1.8rem;
 text-align:center;
 background-color: transparent;
}
