.day-item{
   padding:1rem;
   margin: 1rem .2rem;
   border: .2rem solid black;
  // cursor: pointer;
   font-size: 1.8rem;
  text-align:center;
  background-color: transparent;
}
.red{
  color:red;
  background:white;
}
.blue{
  color: blue;
  background:white;
  font-weight: 600;
  border: .2rem solid blue;
}
.green{
  border: .2rem solid green;
  color:green;
  font-weight: 600;

}
.yellow{
  color: yellow;
  background:white;
}
.pink{
  color: pink;
  background: white;
}

.flex-week{
  display:flex;
  justify-content: space-evenly;

}
