.day-item{
  // padding:1rem;
  // margin:.2rem;
  // border:1px solid red;
  // cursor: pointer;
  // font-size: 4rem

}
.red{
  color:red;
  background:white;
}
.blue{
  color: blue;
  background:white;
}
.green{
  color: green;
  background:white;
}
.yellow{
  color: yellow;
  background:white;
}
.pink{
  color: pink;
  background: white;
}

.flex-week{
  display:flex;
  justify-content: space-evenly;

}
